{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
         <h1>profile</h1>
         <p>username: {{ user }}</p>
         <p>Firstname: {{ user.first_name }}</p>
         <p>Lastname: {{ user.last_name }}</p>  
         <p>Email: {{ user.email }}</p>
         <p>City: {{ user.city }}</p>
         <p>Marks: {{ user.marks }}</p>
         <p>Favorite_fruit: {{ user.favorite_fruit }}</p>
         <p>Countries: {{ user.Countries }}</p>
         <p>fruits: {{ user.fruits }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}